<div class="copy-code-container">
    <button class="copy-code-button"
         aria-label="Copy code block to your clipboard"
         data-code="{{ include.code | escape }}">
	</button>
</div>
```{{ include.lang }}
{{ include.code }}
```

<script>
	const copyCode = (clickEvent) => {
	const copyCodeButton = clickEvent.target;
	const tempTextArea = document.createElement('textarea');
	tempTextArea.textContent = copyCodeButton.getAttribute('data-code');
	document.body.appendChild(tempTextArea);

	const selection = document.getSelection();
	selection.removeAllRanges();
	tempTextArea.select();
	document.execCommand('copy');
	selection.removeAllRanges();
	document.body.removeChild(tempTextArea);

	copyCodeButton.classList.add('copied');
		setTimeout(() => {
			copyCodeButton.classList.remove('copied');
		}, 2000);

	};

	document.querySelectorAll('.copy-code-button').forEach((copyCodeButton) => {
		copyCodeButton.addEventListener('click', copyCode);
	});
</script>
